<div class="mt-10 mb-10 grid grid-cols-3">
  <div class="col-span-2">
    <input
      (click)="emit(events.Search, $event)"
      (input)="emit(events.Search, $event)"
      type="text"
      class="w-full h-8 mb-2 mr-2 lg:w-auto md:w-auto lg:mb-0 md:mb-0 rounded-md"
      />
    <ui-button
      [active]="filters.mostPopular"
      (clicked)="emit(events.MostPopular)"
      value="Most Popular"
      ><fa-icon [icon]="faFire"></fa-icon
      ></ui-button>
    <ui-button
      [active]="filters.needsLove"
      (clicked)="emit(events.NeedsLove)"
      value="Needs Love"
      ><fa-icon [icon]="faHeart"></fa-icon
      ></ui-button>
  </div>
  <!-- <div class="text-right"> -->
  <!--   <ui-button> -->
  <!--   <fa-icon class="text-white hover:rotate-45 transition-transform" [icon]="faSync" (click)="refreshStream.emit()"></fa-icon> -->
  <!--   </ui-button> -->
  <!-- </div> -->
</div>
