<div class="mt-10 mb-10 grid grid-cols-6">
  <div class="col-span-5">
    <input
      aria-label="Search"
      (click)="emitFilter(events.Search, $event)"
      (keydown.enter)="emitFilter(events.Search, $event)"
      (input)="emitFilter(events.Search, $event)"
      type="text"
      class="w-full h-8 mb-2 mr-2 bg-gray-800 lg:w-auto md:w-auto lg:mb-0 md:mb-0 rounded-md"
      />
    <ui-button
      [active]="filters.mostPopular"
      (clicked)="emitFilter(events.MostPopular)"
      value="Most Popular"
      ><fa-icon [icon]="faFire"></fa-icon
      ></ui-button>
    <ui-button
      [active]="filters.needsLove"
      (clicked)="emitFilter(events.NeedsLove)"
      value="Needs Love"
      ><fa-icon [icon]="faHeart"></fa-icon
      ></ui-button>
    <ui-button
      class="block pt-2 lg:inline-flex md:inline-grid lg:pt-0 md:pt-0"
      [active]="filters.marathonRunners"
      (clicked)="emitFilter(events.MarathonRunners)"
      value="Marathon Runners"
      ><fa-icon [icon]="faRunning"></fa-icon
      ></ui-button>
    <ui-button
      class="block pt-2 lg:inline-flex md:inline-grid lg:pt-0"
      [active]="filters.starters"
      (clicked)="emitFilter(events.Starters)"
      value="Slow Starters"
      ><fa-icon [icon]="faMale"></fa-icon
      ></ui-button>
  </div>
  <div class="text-right">
    <ui-button (clicked)="emitRefresh()">
      <fa-icon class="text-white" [icon]="faSync"></fa-icon>
    </ui-button>
  </div>
</div>
