<div class="min-h-screen bg-gray-900">
    <nbp-navbar></nbp-navbar>
    <div class="min-h-screen pb-10 pl-10 pr-10">
        <router-outlet></router-outlet>
    </div>
    <div class="p-5 border-t-2 border-red-900">
        <span class="text-sm text-white">
            <ui-link class="p-2" [routerLink]="" linkName="Privacy Policy"></ui-link>
            <ui-link class="p-2" [routerLink]="" linkName="Terms"></ui-link>
            <ui-link class="p-2" [routerLink]="" linkName="Help and Support"></ui-link>
        </span>
    </div>
</div>
