<div
  class="pl-2 pr-2 md:pr-4 md:pl-4 lg:pr-10 lg:pl-10"
  *ngIf="streamDetail | async as streamDetail"
>
  <div class="flex w-full pt-10 pb-10 text-xl font-semibold text-white">
    <div class="flex-1">
      <span *ngIf="streamDetail.stream_info">
        {{ streamDetail.stream_info?.title }}
      </span>
    </div>
    <div class="text-base text-right">
      <img
        class="float-right w-12 rounded-full"
        [src]="streamDetail.user_info.profile_image_url"
      />
      <div class="float-right pr-2">
        <div class="mr-1">
          {{ streamDetail.user_info.display_name }}
          <ui-icon [icon]="faUser"></ui-icon>
        </div>
        <div>
          {{ streamDetail.user_info.view_count }}
          <ui-icon [icon]="faTv"></ui-icon>
        </div>
      </div>
    </div>
  </div>
  <nbp-stream-view [channel]="streamDetail.user_info.login"></nbp-stream-view>
</div>
