<div
  class="p-5 text-sm text-right text-white border-t-2 border-red-900 grid grid-cols-2"
>
  <!-- <span> -->
  <!--   <ui-link class="p-2" [routerLink]="" linkName="Privacy Policy"></ui-link> -->
  <!--   <ui-link class="p-2" [routerLink]="" linkName="Terms"></ui-link> -->
  <!--   <ui-link class="p-2" [routerLink]="" linkName="Help and Support"></ui-link> -->
  <!-- </span> -->

  <span>
    <a
      href="https://www.buymeacoffee.com/beemdvp"
      target="_blank"
      title="Support BeemStream"
    >
      <nbp-buy-me-a-coffee></nbp-buy-me-a-coffee>
    </a>
  </span>
  <span class="text-right">&copy; {{ currentYear }} BeemStream </span>
</div>
