<div
  class="p-5 text-sm text-right text-white border-t-2 border-red-900 grid grid-cols-2"
>
  <span class="flex gap-2">
    <ui-link
      linkType="href"
      target="_blank"
      routerLink="https://twitter.com/beemstream"
    >
      <ui-icon title="Twitter" icon="twitter"></ui-icon>
    </ui-link>

    <ui-link
      linkType="href"
      target="_blank"
      routerLink="https://instagram.com/beemstream"
    >
      <ui-icon title="Instagram" icon="instagram"></ui-icon>
    </ui-link>

    <ui-link
      linkType="href"
      target="_blank"
      routerLink="https://twitch.tv/beemstreamofficial"
    >
      <ui-icon title="Twitch" icon="twitch"></ui-icon>
    </ui-link>

    <ui-link
      linkType="href"
      target="_blank"
      routerLink="https://github.com/beemstream"
    >
      <ui-icon title="Github" icon="github"></ui-icon>
    </ui-link>
  </span>

  <span class="grid place-items-end">
    <a
      href="https://www.buymeacoffee.com/beemdvp"
      target="_blank"
      title="Support BeemStream"
    >
      <nbp-buy-me-a-coffee></nbp-buy-me-a-coffee>
    </a>
  </span>
  <span class="text-right">&copy; {{ currentYear }} BeemStream </span>
</div>
