<nav class="bg-gray-700 bg-opacity-50">
  <div class="px-2 mx-auto sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-end h-16">
      <div class="absolute inset-y-0 left-0 flex items-center">
        <div
          class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start"
        >
          <div class="flex-shrink-0">
            <nbp-beemstream-logo></nbp-beemstream-logo>
          </div>
          <div class="hidden lg:block md:hidden sm:block sm:ml-6">
            <div
              class="flex ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-gray-300;"
            >
              <nbp-nav-button
                routerLink="/"
                routeName="Discover"
                [navOptions]="navOptions"
              ></nbp-nav-button>
              <nbp-nav-button
                routerLink="/browse"
                routeName="Browse"
              ></nbp-nav-button>
              <nbp-nav-button
                routerLink="/random"
                routeName="Surprise Me!"
                [icon]="faGift"
              ></nbp-nav-button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="block p-5 text-white cursor-pointer md:block lg:hidden"
        (click)="toggleMobileNav()"
      >
        <fa-icon class="text-xl" [icon]="icon"></fa-icon>
      </div>
    </div>
    <div [class.hidden]="!isNavActive" class="text-white lg:hidden">
      <ul class="font-semibold">
        <li class="p-3">
          <ui-link
            (click)="toggleMobileNav()"
            routerLink="/"
            linkName="Discover"
          ></ui-link>
        </li>
        <li class="p-3">
          <ui-link
            (click)="toggleMobileNav()"
            routerLink="/browse"
            linkName="Browse"
          ></ui-link>
        </li>
        <li class="p-3">
          <ui-link
            (click)="toggleMobileNav()"
            routerLink="/random"
            linkName="Surprise Me!"
          >
            <fa-icon [icon]="faGift"></fa-icon>
          </ui-link>
        </li>
      </ul>
    </div>
  </div>
</nav>
