<div class="mt-10" *ngIf="streamCategoryList | async as streamCategoryList">
  <div *ngIf="category | async as category$">
    <nbp-category-header
      *ngIf="category"
      [title]="templateCategory[category$]"
      [showLink]="false"
    ></nbp-category-header>
    <p
      class="leading-6"
      [innerHTML]="templateDesciption[category$] | escapeHtml"
    ></p>
    <nbp-filter-stream-list
      [streamCategoryList]="templateStreams"
      (refreshStream)="forceRefresh(category$)"
      [availableLanguages]="availableLanguages"
      [availableProgrammingLanguages]="availableProgrammingLanauges"
    ></nbp-filter-stream-list>
  </div>
</div>
