<div
  class="min-h-screen mt-10"
  *ngIf="streamCategoryList | async as streamCategoryList"
>
  <nbp-category-header
    *ngIf="category"
    [title]="templateCategory[category]"
    [showLink]="false"
  ></nbp-category-header>
  <div class="leading-6" *ngIf="category">
    {{ templateDesciption[category] }}
  </div>

  <nbp-filter-stream-list
    [streamCategoryList]="templateStreams"
    [filteredStreams]="filteredStreams"
    (refreshStream)="forceRefresh()"
    (searchStream)="searchValue.next($event)"
    [availableLanguages]="availableLanguages"
  ></nbp-filter-stream-list>
</div>
