<div
  class="mt-10 pl-10 pr-10"
  *ngIf="streamCategoryList | async as streamCategoryList"
>
  <div *ngIf="category | async as category$">
    <nbp-category-header
      *ngIf="category"
      [title]="templateCategory[category$]"
      [showLink]="false"
    ></nbp-category-header>
    <p
      class="leading-6"
      [innerHTML]="templateDesciption[category$] | escapeHtml"
    ></p>
    <nbp-filter-stream-list
      *ngIf="{
        programmingLangs: availableProgrammingLanauges | async,
        langs: availableLanguages | async
      } as attrs"
      [streamCategoryList]="templateStreams | async"
      (refreshStream)="forceRefresh(category$)"
      [availableLanguages]="attrs.langs"
      [availableProgrammingLanguages]="attrs.programmingLangs"
    ></nbp-filter-stream-list>
  </div>
</div>
