<div class="mt-10 mb-5 grid grid-cols-6">
  <div class="pr-24 col-span-5">
    <input
      aria-label="Search"
      (click)="emitFilter(events.Search, $event)"
      (keydown.enter)="emitFilter(events.Search, $event)"
      (input)="emitFilter(events.Search, $event)"
      type="text"
      class="
        w-full
        h-8
        mt-2
        mb-2
        mr-2
        bg-gray-800
        lg:w-auto
        md:w-auto
        lg:mb-0
        md:mb-0
        rounded-md
      "
    />
  </div>
  <div class="flex justify-end">
    <ui-button (clicked)="layoutChanged.emit(layout.Default)">
      <nbp-layout-default-icon></nbp-layout-default-icon>
    </ui-button>
    <ui-button (clicked)="layoutChanged.emit(layout.TextOnly)">
      <nbp-layout-text-only-icon></nbp-layout-text-only-icon>
    </ui-button>
    <ui-button (clicked)="emitRefresh()">
      <fa-icon class="text-white" [icon]="faSync"></fa-icon>
    </ui-button>
  </div>
</div>
<div class="inline-flex flex-col w-full pt-2 lg:flex-row md:flex-row">
  <nbp-dropdown-category-filter
    class="pb-2 pr-2"
    [options]="(categoryFilters | async) || []"
    [active]="active"
    (activeChanged)="handleFilter($event)"
  ></nbp-dropdown-category-filter>
  <nbp-dropdown-code-lang-select
    class="pb-2 pr-2"
    *ngIf="programmingLanguages | async as langs"
    (optionsSelectedChanged)="programmingLanguagesChanged.emit($event)"
    [options]="(programmingLanguages | async) || []"
  >
  </nbp-dropdown-code-lang-select>
  <ng-template #template let-option>
    <div class="w-full h-full" (click)="languageChanged.emit(option)">
      <a> {{ option }} </a>
    </div>
  </ng-template>

  <ng-template #titleTemplate>
    <span>Languages</span>
  </ng-template>

  <nbp-dropdown-lang-select
    class="pb-2 pr-2"
    *ngIf="languages | async as langs"
    (languagesChanged)="languageChanged.emit($event)"
    [languages]="langs"
  ></nbp-dropdown-lang-select>
</div>
