<ng-template #template let-option>
  <div>
    <a>
      <ui-icon [icon]="option.icon" class="pr-2"></ui-icon> {{ option.value }}
    </a>
  </div>
</ng-template>

<ng-template #titleTemplate>
  <ui-icon class="pr-2" [icon]="active.icon"></ui-icon
  ><span>{{ active.value }}</span>
</ng-template>

<ui-dropdown
  [options]="options"
  [titleTemplate]="titleTemplate"
  [topTemplate]="template"
  [middleTemplate]="template"
  [bottomTemplate]="template"
  [closeOnClick]="true"
  (optionClicked)="handleSelection($event)"
></ui-dropdown>
