<div class="pl-10 pr-10">
    <div class="grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-1 gap-x-6">
        <div *ngFor="let i of foo" class="mx-auto mt-10 overflow-hidden rounded ring-2 ring-gray-50 ring-opacity-10 space-y-4">
          <img
            class="object-cover object-center w-full h-64"
            src="https://source.unsplash.com/random"
            alt="Random unsplash photo"
          />

          <div class="px-6">
            <div class="font-bold text-white text-md">Angular w/ Tailwind this is really long text and like some more long text</div>
          </div>
          <div class="px-6 pb-4 space-x-2 space-y-3">
            <a
              href="https://angular.io"
              target="_blank"
              rel="noreferrer"
              class="inline-block px-3 py-1 text-sm font-semibold text-white bg-red-500 rounded-full hover:bg-red-700"
            >
              #angular
            </a>
            <a
              href="https://tailwindcss.com"
              target="_blank"
              rel="noreferrer"
              class="inline-block px-3 py-1 text-sm font-semibold text-white bg-indigo-500 rounded-full hover:bg-indigo-700"
            >
              #tailwind
            </a>
            <a
              href="https://notiz.dev"
              target="_blank"
              rel="noreferrer"
              class="inline-block px-3 py-1 text-sm font-semibold text-gray-700 bg-blue-200 rounded-full hover:bg-blue-400"
            >
              #notiz
            </a>
          </div>
        </div>
    </div>
</div>
