<div class="pl-10 pr-10">
  <ui-header>Watch Your Favourite Programming Livestreams</ui-header>
  <p>
    BeemStream provides a directory of all programming livestreams currently
    just from
    <a
      class="text-red-500 hover:text-red-700"
      href="https://www.twitch.tv/directory/game/Science%20%26%20Technology"
      target="_blank"
      >Twitch.tv</a
    >. BeemStream transforms Science & Technology to search for only programming
    specific streams, ranging from website, game, mobile and software
    development categories.
  </p>
  <nbp-filter-stream-list
    *ngIf="{
      programmingLangs: availableProgrammingLanguages | async,
      langs: availableLanguages | async
    } as attrs"
    [streamCategoryList]="templateStreams | async"
    [availableLanguages]="attrs.langs"
    [availableProgrammingLanguages]="attrs.programmingLangs"
    (refreshStream)="forceRefresh()"
  ></nbp-filter-stream-list>
</div>
